# directories
target/

# hidden directories
.idea/
.vscode/
.metals/
.bloop/
project/.bloop/

# files
*.class
*.log
*.jar
*.zip
project/metals.sbt

# hidden files
.history
.dotty-ide-disabled
.DS_Store
